<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>
<main>
    <div class="container">
        <div class="row">
            <h1>Adicionar Produto </h1>    
        </div>
        <div class="row">
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="Insira o nome do produto aqui">
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-info">Incluir</button>
            </div>
        </div>
    </div>
</main>
    
<%- include('includes/end.ejs') %>