<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>
    <main>
        <% if (prod.length > 0) { %>
            produto maior que zero
        <% } else { %>
            produto menor que zero
        <% } %>
    </main>
<%- include('includes/end.ejs') %>