extends ./main-layout.pug

block content
    main
        div.container
            div.row
                h1.display-1 Shop PUGx
    main 
        div.container 
            div.row 
                if prod.length > 0
                    each product in prod
                        div.col-md-4
                            div.card(style="width: 18rem;")
                                img.card-img-top(src="https://images.unsplash.com/photo-1544716278-ca5e3f4abd8c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ym9va3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80", alt="Card image cap")
                                div.card-body
                                    h5.card-title  #{product.title} 
                                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                                    a.btn.btn-primary(href="#") Go somewhere
                else 
                    h1 No Products
